# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_df = pd.read_csv('cities.csv')
city_df

,Unnamed: 0,city,lng,lat,max temp,humidity,cloudiness,wind speed,country,date
0,0,Atuona,-139.0333,-9.8000,77.36,67,14,17.63,PF,1627519172
1,1,New Norfolk,147.0587,-42.7826,50.72,61,97,8.50,AU,1627519173
2,2,St. George's,-61.7485,12.0564,80.28,83,40,20.71,GD,1627519173
3,3,Den Helder,4.7593,52.9599,61.99,81,90,19.57,NL,1627519173
4,4,Lázaro Cárdenas,-102.2000,17.9583,82.40,75,91,3.91,MX,1627519174
...,...,...,...,...,...,...,...,...,...,...
568,568,Severnyy,36.5532,50.6770,69.84,78,0,2.24,RU,1627519348
569,569,Hadejia,10.0444,12.4498,72.01,87,99,2.91,NG,1627519349
570,570,Udachny,112.4000,66.4167,76.06,49,20,11.50,RU,1627519330
571,571,Tikrit,43.6782,34.6071,87.24,22,0,6.29,IQ,1627519349
572,572,Calahorra,-1.9652,42.3051,66.11,82,0,5.77,ES,1627519349

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = g_key)

In [4]:
locations = city_df[['lat', 'lng']]
humidity = city_df['humidity']

figure = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating = False)
heat_layer.max_intensity = 100
heat_layer.point_radius = 5

figure.add_layer(heat_layer)
figure

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
# Use Latitude and Longitude as the locations, and humidity as weights for the heat layer
locations = city_df[['lat', 'lng']]
humidity = city_df[['humidity']].astype(float)

# Plot Heatmap
fig = gmaps.figure()

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# Create search list with converted latitude and Longitude
hotel_df = city_df['lat'].tolist()
hotel_df = city_df['lng'].tolist()
hotel_lst = []

# Gather first hotel tfor each cities
for i in range(len(hotel_df)):
    target_coordinates = f'{'lat[i]'}, {'lng[i]'}'
    target_search = 'hotel'
    target_type = 'hotel'
    target_radius = 5000

      # Set up a parameters dictionary
    params = {
        'location': target_coordinates,
        'types': target_type,
        'keyword': target_search,
        'radius': target_radius,
        'key': g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Apply the try and except block, code won't stop when no hotel isn't available
    
    try:
        
        # Run a request using params dictionary
        response = requests.get(base_url, params=params).json()
        hotel_lst.append(response['results'][0]['name'])
    
    except:
        
        # Append the string to indicate no hotel was found
        hotel_lst.append('NO HOTEL FOUND')

# After the loop, add the hotel list as a column in the dataframe
hotel_df['Hotel Name'] = hotel_lst

In [ ]:
hotel_df

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined